<!-- Nav Partial -->
<div ng-include="'views/navbar.html'"></div>

  <div class="container">

    <!-- Repeating Panels -->
    <div class="row" ng-repeat="(teamKey, teamStats) in teamsData">
      <div class="panel panel-primary">

        <!-- Team Label -->
        <div class="panel-heading">
          <h2>{{ teamKey }}</h2>
        </div>

        <table class="table table-striped">
          <tr ng-repeat="(statName, statGroup) in teamStats">
            <td>
              <table>

                <!-- Team Stat -->
                <tr>
                  <td>
                    <h3>{{ statName | uppercase }}</h3>
                  </td>
                </tr>

                <!-- Player Stats -->
                <tr ng-repeat="playerStats in statGroup | filter:{name: state.filterText}">
                  <td>{{ playerStats.name }}</td>
                  <td>
                    <ul class="list-inline">

                      <!-- Individual Stat -->
                      <li ng-repeat="(dataPointName, dataPoint) in playerStats">
                        {{ dataPointName | uppercase }} {{ dataPoint }}
                      </li>

                    </ul>
                  </td>
                </tr>

              </table>
            </td>
          </tr>
        </table>

      </div>
    </div>

  </div>
