<div class="navbar navbar navbar-inverse navbar-top navbar-static">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">NFL Code Challenge</a>
    </div>
    <form class="navbar-form navbar-right " role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Filter"
                   ng-model="state.filterText">
        </div>
    </form>
</div>
